<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add  name="DefaultERP"
			connectionString="data source=KATDB16;initial catalog=Allied.Live.Database;uid=sa;pwd=FVR2005sa;App=ERP;Connection Timeout=600;Pooling=true;Max Pool Size=100;MultipleActiveResultSets=True;"
			providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes(connectionString)"
			xdt:Locator="Match(name)" />
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<appSettings>

		<add key="IIS.TempFolder" value="\\KATIIS85\4UTemp" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="OauthServerConfig.OauthServer" value="http://10.1.20.68:600/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="OauthServerConfig.Service" value="ERP.Reports.Api" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="OauthJwt.Key" value="MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEA4pshG/w/EoYhLCNXttMk04xUrBbbYiuEOITrKblL/4Ysj/QCHPCjKBDdmuZXpHJnZ9VDAsfAq1D1nSLeCMABw==" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="OauthJwt.Issuer" value="OauthServer" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="OauthJwt.Audience" value="ERP.Reports.Api" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>